body{
font-family: "Titillium Web", sans-serif;
margin: 0;
padding: 0;
}

 /* ************************ nav bar ********************** */

.nav{
	margin-top: -20px;
}

.nav-logo{
	height: 60px;
	background: #262626;
}

.nav-logo a:nth-child(1){
	margin-top: -22px;
}

.nav li:nth-child(1) .active{

	height: 40px;
	text-align: center;
	margin-top: 22px;
	background: #28a745;

}

/* ** close button area  ** */

.nav li:nth-child(2){

	border-left: 0.5px solid gray;
	margin-top: 15px;
	height: 58px;
}


.fa-times{
	margin-top: 20px;
	font-size: 12px;
	color: gray;
}

.nav li:nth-child(2) span{
font-size: 12px;
color: gray;
}




 /* ************ responsive properties of top nav bar **************** */ 


/* hide close button at 568px */ 

@media screen and (max-width: 1138px){

.nav li:nth-child(2) span{

	display: none;
}
}


/* ***************************** second nav ************************* */


/* --------- standard button properties --------- */
 
.btn{
	background:  #fe6d34;
	border-radius: 20px;
	color: white;
}


.navbarmaster{

	border: : 1px solid black;
	margin: 0 auto;
}


/* contact number */

.navbarmaster .listedroite .number{
	color: #fe6d34;
}

hr{
	width: 90%;
	margin: 0 auto;
}


/* ------- list nav center -------- */


.listecentre{
	margin: 0 auto;
}


/* ------- liste nav right -------- */

.listedroite{
	float: right;
}


@media screen and (max-width: 1010px){

	.navbar-nav li:nth-child(7) .nav-link{
		display: none;
	}

	.secondeliste .active .home{
	margin-left: 30px;
}

}



/* **** section: grow your business startup system better ****** */

/* ---  standard properties of title --- */


h1{
	color: #143d3c;
}


span{
	color: #fe6d34;
}

.contenu h1{
	margin-top: 200px;
	
}

.standard-button{

	width: 150px;
	height: 40px;
}

.contenu i{

	position: absolute;
	margin-top: 60px;
	margin-left: 150px;
}

.contenu span{
	position: absolute;
	margin-top: 55px;
	margin-left: 30px;

}

.business-img{

	width: 435px;
}

/* ************ services ************ */

.card{
	width: 18em;
	margin-top: 110px;
	text-align: center;
	height:  400px;
}

/* first card image */

.card img{
	width: 138px;
	margin: 0 auto;
	margin-top: 50px;
}

/* second card image */

.card .satisfied-client{
	margin-top: 80px;
	width: 120px;
}

/* third card image */

.card .report-img{
	margin-top: 78px;
	width: 109px;
}


/* ***************************short brief **************************** */

.short-brief{

	margin-top: 100px;
}

.short-brief h1+p{

	margin-top: 50px;
}

.short-brief p+button{

	margin-top: 50px;
}

.short-brief img{

	width: 450px;
	margin-left: 30px;

}


@media screen and (max-width: 1051px){
  .short-brief img{
  	width: 350px;
  }

}


/* ************ best service ************** */

.bestservice{

	margin-top: 100px;
}


.bestservice h1+p{

	margin-top: 30px;
}


/* *************** slider *************** */

.carousel-item{

	margin: 0 auto;
}

.slide{

	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}


/* prev arrow */

.carousel-control-prev i{

	color: black;
	margin-top: 600px;
    margin-left: 800px;

}


/* next arrow */

.carousel-control-next i{

	color: black;
	margin-top: 600px;
	margin-left: -810px;
}


/* repositionning the first image */

.carousel-item .card .first-img-slider{
	
	margin-top: 50px;
}



/* Get digital people section */

.leftsidecontainer {

	margin-top: 180px;
}

.rightsidecontainer{

	margin-top: 180px;
}


/*  elements of left side container */

.leftsidecontainer h1{

	color: #143d3c;
}

.leftsidecontainer h1+p {

	margin-top: 30px;
}


/* ****** enhance properties for a responsive view ****** */

@media screen and (max-width: 1052px){
  .rightsidecontainer img{
  	width: 550px;
  }

}

@media screen and (max-width: 1051px){
  .rightsidecontainer img{
  	width: 350px;
  }

}

@media screen and (max-width: 734px){
  .rightsidecontainer img{
  	margin-top: 200px;
  	width: 300px;
  }

}


/* ************************ recent work section ********************************* */


.recentworkcontainer{

	margin-top: 180px;
}


.recentworkcontainer h1{

	color: #143d3c;
}

/* styling element of card */

.recentworkcontainer .card{

	width: 22em;
}

.recentworkcontainer .card .card-img-top{

	width: 22em;
	margin-top: 0;
}



.recentworkcontainer .card p{

	font-size: 22px;
}

.recentworkcontainer .card p:hover{

	color: #fe6d34;
}

.recentworkcontainer .card span{
	display: block;
	
}

/* shadowing card */

.recentworkcontainer .card{
	 box-shadow: 2px 4px 9px 4px rgba(0, 0, 0, 0.2);
}

/* styling card border */

.recentworkcontainer .card-body{
border-bottom: 1px solid lightgray;
}

.recentworkcontainer .portfolio{
margin-top: 180px;
}

/* make cards responsive */ 

  /* at 1010px */


@media screen and (max-width: 1192px){

.recentworkcontainer .card{
	width: 19em;
}

.recentworkcontainer .card .card-img-top{
	width: 19em;
	margin-top: 0;
}

}


  /* at 944 */

@media screen and (max-width: 990px){

.recentworkcontainer .card{
	width: 14em;
}

.recentworkcontainer .card .card-img-top{
	width: 14em;
	margin-top: 0;
}

}

     /* 764 */
@media screen and (max-width: 764px){

.recentworkcontainer .card{
	width: 22em;
}

.recentworkcontainer .card .card-img-top{
	width: 22em;
	margin-top: 0;
}

}

/* **************section : proposition of work ************** */ 

.work-container{
margin-top: 150px;
margin: 0 auto;
}

.crown{
	color: #fe6d34;
	font-size: 45px;
	margin-top: 150px;
}

.number-unit{
	font-size:35px;
}

.group-span span{
	display: block;
}

.getpackagenow{

	border-radius: 20px;
	background: #fe6d34;
	color: white;
}

/* ******************** section: Review ******************* */

.review{
	margin-top: 100px;
}

.review h1{
	color: #143d3c;
}

/* **** slide properties *** */

.review .carousel{
	width: 95%;
	margin-top: 50px;
}

.review .carousel-inner{
	height: 175px;
	overflow: hidden;
}

.quote{
	font-size: 30px;
}
	

/* ******************* section : contact ********************** */

.contact-container{

	margin-top: 150px;
}

.contactleftside span{
	
	display: block;
	padding: 15px;
   
}

.contact-container h1{

	margin-top: 10px;
	color: #143d3c;
}


  /* text area */

.textarea{

height: 200px;

}


.contactleftside .card{
     
	margin-top: 80px;
}


.btn-submit{

	background:  #fe6d34;
	border-radius: 20px;
	color:white;

}


.contactleftside .card-body i{

	color: #fe6d34;
}


/* enhance properties of cards for a responsive view */

@media screen and (max-width: 1124px){

.contactleftside .card{

     width: 17em;
}

}


/* ************************************* last blog ******************************************* */ 

.lastblog{

	margin-top: 100px;
}


.lastblog span:nth-child(1){

	color: #fe6d34;
}


.lastblog-album .card{

	height: 460px;
	width: 19em;
}


.lastblog-album .card .card-img-top{

	width: 19em;
	margin-top: 0;
}


.lastblog-album .date{

	font-size: 12px;
	}


/* ************************* menu fin page *************************** */

.menu-fin-page{

	margin-top: 130px;
}


.menu-fin-page i{

	font-size: 16px;
}


.menu-fin-page span{

	display: inline;
	padding: 10px;
	
}

.menu-fin-page a{

	padding: 5px;
	display: block;
	
}

.menu-fin-page .input-group-text{

	height: 38px;
	background: white;
}

.menu-fin-page .input-group-text i{

    position: absolute;
	margin-top: 1px;
	margin-left: -8px;
	color: #fe6d34; 
}


/* ****************************** footer ************************ */

footer {

	margin-top: 100px;
}